*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 600px;

}
.nav-bar ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 5px;
}

.nav-bar ul li{
    list-style: none;
}

.nav-bar{
    width: 1150px ;
    margin: 0px auto;
    margin-top: 5px;
    padding: 10px 0px 15px 0px ;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver; 
}

.about-this-page{
    width: 1150px ;
    margin: 0px auto;
    border-bottom: 1px solid silver;
}
.about-this-page h2{
    font-size: 35px;
    font-weight: 500px;
}

.about {
    display: flex;
    gap: 20px;
    width: 1150px ;
    margin: 0px auto;
    margin-bottom: 10px;
}
.about-text ul li{
    margin-top: 10px;
    gap: 10px;
}

.about-text p{
    margin-top: 5px;
}
.about-map iframe {
    width: 100%;
    height: 200px;
    border: none;
    margin-top: 5px;
}

.to-dolist{
    display: flex;
    width: 1150px;
    margin: 0px auto;
    justify-content: space-between;
}
/*btn-toggle*/

.btn-toggle{
    padding: 10px 210px;
}

/* ---------- TO-DO LIST ---------- */
.todo {
    width: 600px;
    gap: 20px;
    margin-left: 50px;
}
.container-todo h2{
    border-bottom: 1px solid silver;

}
h2{
    border-bottom: 1px solid silver;

}

.todo-input {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.todo-input input {
    flex: 1;
    padding: 8px;
}

.todo-input button {
    padding: 8px 15px;
}

#taskList {
    margin-top: 10px;
    padding: 0;
}

#taskList li {
    list-style: none;
    background: #f0f0f0;
    padding: 8px;
    margin-bottom: 5px;
}

/* ---------- TIMER ---------- */
.timer{
    width: 450px;
}
.timer-gap{
    padding-left: 30px;
    margin-left: 40px;
}
.timer button {
    margin: 5px;
}

/* ---------- MAP ---------- */
.feast-video iframe {
    width: 100%;
    height: 250px;
   
}

.feast-video button {
    margin-top: 10px;
}

/* ---------- CONTACT FORM ---------- */
.contact label {
    display: block;
    margin-top: 10px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.contact textarea {
    height: 80px;
}

.contact input[type="checkbox"] {
    width: auto;
    margin-right: 1px;
}

.contact button {
    margin-top: 15px;
}

.successMsg p{
    color: rgb(13, 172, 13);
    font-size: 40px;
}

/* ---------- BUTTONS ---------- */
button {
    padding: 10px 15px;
    background: #3366cc;
    color: white;
    border: none;
    cursor: pointer;
    
}

button:hover {
    background: #254a9a;
}

/*footer*/
footer {
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border-top: 1px solid #ddd;
}
